<!DOCTYPE html>
<html lang="pt-BR">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Site teste | TCC Agropecuaria</title>
<link rel="stylesheet" href="../style.css ">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <header class="header">
        <a href="#" class="logo">Agrotrack</a>

        <nav class="navbar">
            <a href="#" style="--i:1;" class="active">Início</a>
            <a href="./about.html" style="--i:2;" >Sobre Nós</a>
            <a href="./instagram.html" style="--i:3;" >Soluções</a>
            <a href="#" style="--i:4;" >Diferencial</a>
            <a href="#" style="--i:5;" >Depoimentos</a>
        </nav>

        <div class="social-media">
            <a href="#" style="--i:1;"><i class='bx bxl-instagram'></i></a>
            <a href="#" style="--i:2;"><i class='bx bxl-tiktok' ></i></a>
        </div>
    </header>

    <section class="home">
<div class="home-content">
    <h1>A solução para a gestão da sua fazenda está aqui!</h1>
    <h3>Um sistema automatizado e eficaz que veio do agro!</h3>
    <p>Um sistema fácil Completo e Integrado
      Tecnologia
        Gestão visual dinâmica
        Inovação de ponta
        Suporte especializado</p>
    <a href="#" class="btn">Agende uma demonstração gratuita agora</a>
</div>

<div class="home-img">
    <div class="rhombus">
        <img src="pessoa.png" alt="">
    </div>
</div>

<div class="rhombus2"></div>
    </section>
</body>

</html>